<div class="center">
    <div class="battle">
        <div class="characters">
            <div class="hero-target">
                <img src="{{ hero.imgUrl }}" alt="{{ hero.name }}">
                <p>{{ hero.name }}</p>
                <div class="hp">
                    <p>HP: {{ hero.getHealth }}</p>
                    <div class="hpborder">
                        <div class="heroHpBar"></div>
                    </div>
                </div>
            </div>
            <div class="enemy-target">
                <img src="{{ enemy.imgUrl }}" alt="{{ enemy.name }}">
                <p>{{ enemy.name }}</p>
                <div class="hp">
                    <p>HP: {{ enemy.getHealth }}</p>
                    <div class="hpborder">
                        <div class="enemyHpBar"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="messages">
            <div class="fight">
                <i class="fa fa-play"></i>
                <button class="attack">{{ hero.weaponName }}</button>
            </div>
        </div>
    </div>
</div>
